body{
    text-align: center;
}
#fs1 {
    background-color: wheat;
    width: 200px;
    position:absolute;
}

#fs2{
    background-color: wheat;
    width: 200px;
    position: fixed;
    z-index: 2;
    float:right;
    margin-left: 900px;
}
p, legend {
    text-align: center;
}

canvas {
    border: 2px solid greenyellow;
    position: absolute;
    left: 270px;
    top: 30px;
    background-image: url("image/Untitled.png");
    background-repeat: no-repeat;
    z-index: -1;
}
canvas {
    box-shadow: black 30px 30px 30px;
}

button {
    background-color: Crimson;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
ol{
    color: red;
    text-align: left;
}